<header class="filter">
  <div class="text-right">
        <span class="view-filter">
          <label for="typeOfView" class="font-weight-bold pr-2">View</label>
          <select class="form-select" id="typeOfView" [(ngModel)]="isView" aria-label="Page View">
            <option value="grid">Grid View</option>
            <option value="list">List View</option>
          </select>
        </span>
        <span class="sort-filter">
          <label for="typeOfView" class="font-weight-bold pr-2">Sort</label>
          <select class="form-select" id="typeOfView" [(ngModel)]="order" aria-label="Page View" (change)="sortChange()">
            <option value="ascending">Low to high</option>
            <option value="descending ">High to low</option>
          </select>
        </span>
    </div>
</header>
<div
  class="main-wrap"
  [ngClass]="{
    'grid-layout': isView === 'grid',
    'list-layout': isView === 'list'
  }"
>
  <section
    [ngClass]="{
      card: true,
      'grid-view': isView === 'grid',
      'list-view': isView === 'list'
    }"
    *ngFor="let item of productArr"
  >
    <img
      [src]="item.img"
      alt="River Tern !"
    />
    <h6>{{item.productName}}</h6>
    <span>
      ₹{{item.productPrice}}
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </span>

    <p class="tags">
      <span class="tag-item">Good</span>
    </p>
  </section>
</div>