<section class="container-timer">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Using Subject</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-timer-view></app-timer-view>
        </div>
        <div class="col-6">
            <app-timer-control></app-timer-control>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-timer-log ></app-timer-log>
        </div>
        <div class="col-6">
            <app-timer-status ></app-timer-status>
        </div>
    </div>
</section>

