.banner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-border {
    border: 1px black solid;
    padding: 12px;
}
.banner-content {
    border: 1px black solid;
    padding: 8px 0;
}

section {
    margin: 0;
    height: 70vh;
}