<section class="countdown-controler">
    <div class="control-mt">
        <div class="form-group row">
            <label for="timerLimit" class="col-sm-6 col-form-label"
              >Enter Timer Limit</label
            >
            <div class="col-sm-6">
              <input
                (input)="changeInTimer($event)"
                numbersOnly
                class="form-control"
                id="timerLimit"
                placeholder="Time"
              />
            </div>
          </div>
          <div class="form-group row">
              <div class="col-12 text-right">
                <button type="button" class="btn btn-sm btn-primary mr-1" (click)="changeInActionButton('start')">Start / Pause </button>
                <button type="button" class="btn btn-sm btn-danger" (click)="changeInActionButton('reset')">Reset </button>
              </div>
           
          </div>
    </div>
</section>
