<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">
      <i class="fas fa-blog"></i> &nbsp; Blog Template
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/animation-banner']" class="nav-link active">
            Link 1
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/e-commerce']" class="nav-link active"> Link 2 </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/count-down']" class="nav-link active"> Link 3 </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/count-down-timer']" class="nav-link active">
            Link 4
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/dynamic-table']" class="nav-link active">
            Link 5
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/dynamic-alert']" class="nav-link active">
            Link 6
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container-fluid">
  <router-outlet></router-outlet>
</section>
