.countdown-controler {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
    height: 105px;
}

.control-mt {
    margin-top: 16px;
}