<section class="container-timer">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Using Subject and Output Decorator</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-countdown-timer-view></app-countdown-timer-view>
        </div>
        <div class="col-6">
            <app-countdown-timer-control></app-countdown-timer-control>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-countdown-timer-log ></app-countdown-timer-log>
        </div>
        <div class="col-6">
            <app-countdown-timer-status ></app-countdown-timer-status>
        </div>
    </div>
</section>

